################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HaftRokh/FileContentIndex
/old setups
Assets/UserAgreement.rtf
/HaftRokh/obj/Debug
