<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HaftRokh.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TrayDate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <HaftRokh.Properties.Settings>
            <setting name="Compatibility" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HolidayError" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DateFormat" serializeAs="String">
                <value>YYYY/MM/DD</value>
            </setting>
        </HaftRokh.Properties.Settings>
        <TrayDate.Properties.Settings>
            <setting name="Compatibility" serializeAs="String">
                <value>False</value>
            </setting>
        </TrayDate.Properties.Settings>
    </userSettings>
</configuration>
